@main("tiger index") {

<h2>Welcome</h2>

<h3>For the real online website</h3>
<p>
<a href="http://extendedtigerrunningspace.herokuapp.com/">Welcome page</a><br />
<a href="http://extendedtigerrunningspace.herokuapp.com/page1/fab/22">page 1</a><br />
<a href="http://extendedtigerrunningspace.herokuapp.com/page2">page 2</a><br />
</p>

<h3>For the testing local website</h3>
<p>
<a href="http://localhost:9000/">Welcome page</a><br />
<a href="http://localhost:9000/page1/fab/22">page 1</a><br />
<a href="http://localhost:9000/page2">page 2</a><br />
</p>


}
