@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicontiger1.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>

    <nav id="menu">
         <ul>
<li><a href="http://extendedtigerrunningspace.herokuapp.com/"> Welcome </a></li>
<li><a href="http://extendedtigerrunningspace.herokuapp.com/page1/fab/22"> page 1 </a></li>
<li><a href="http://extendedtigerrunningspace.herokuapp.com/page2"> page 2 </a></li>
<li><a href="http://extendedtigerrunningspace.herokuapp.com/page3"> page 3 </a></li>
         </ul>
         </nav>
         For the real online website<br />
------------------------------
        @content
        <br />
------------------------------
        <br />
        <br />
        
        For the testing local website<br />
        <nav id="menu">
         <ul>
<li><a href="http://localhost:9000/"> Welcome </a></li>
<li><a href="http://localhost:9000/page1/fab/22"> page 1 </a></li>
<li><a href="http://localhost:9000/page2"> page 2 </a></li>
<li><a href="http://localhost:9000/page3"> page 3 </a></li>
         </ul>
         </nav>
    </body>
</html>
