@(name: String, age: Int)

@main("tiger page 1") {



}

<h2>variables</h2>

<p>

Hello <strong>@name</strong>, you are <strong>@age</strong>.

</p>

<p>

You can change the variables in the url, change "fab", and "22" by something else.

</p>

<img src="/assets/images/tigerdesign.jpg"/>

<br />


<h3>For the real online website</h3>
<p>
<a href="http://extendedtigerrunningspace.herokuapp.com/">Welcome page</a><br />
<a href="http://extendedtigerrunningspace.herokuapp.com/page1/fab/22">page 1</a><br />
<a href="http://extendedtigerrunningspace.herokuapp.com/page2">page 2</a><br />
</p>

<h3>For the testing local website</h3>
<p>
<a href="http://localhost:9000/">Welcome page</a><br />
<a href="http://localhost:9000/page1/fab/22">page 1</a><br />
<a href="http://localhost:9000/page2">page 2</a><br />
</p>


vpage1